/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('bg5.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(252, 246, 235, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    color: #3b0d2a;
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.search-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f38bc4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #b3005a;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.1em;
    color: #4A90E2;
}

.product-card p {
    font-size: 0.9em;
    color: #555;
}

.error {
    color: rgb(61, 57, 57);
    font-size: 1 em;
    margin-top: 20px;
}
